.float-r {
  float: right;
}

.justify-content {
  justify-content: center;
}

.total {
  font-weight: bold;
}
.totalValue {
  color: #42145f;
  font-weight: bold;
}
.order-pad {
  padding: 5px;
  margin: 0px!important;
}
.display-b {
  display: block;
}
.display-n {
  display: none;
}