.paddingall {
  padding: 0px;
}

.pr-5 {
  padding-right: 0px;
}

.float-r {
  float: right;
}

.justify-content {
  justify-content: center;
}

.position-r {
  position: relative;
}

.img {
  top: 5px;
    position: absolute;
    right: -30px;
}

.card-text {
  color: #333;
}
.pad0 {
  padding: 0px!important;
}
.row-pad {
  padding: 4px;
  margin: 0px!important;
  border-bottom: 1px solid #ccc;
}

.font-w {
  font-weight: bold;
}